
		<footer class="footer container-fluid">
	        <div class="">
	        	<div class="row">
            		<div class="col-lg-5 col-md-4 d-none d-sm-none d-md-block Foot1 New1">
            			&#169; 2021 by Shobhit Srivastava<br>My Portfolio
	  		      	</div>
	  		      	<div class="col-lg-7 col-md-8 col-12 Foot2 row">
	  		      		<div class="col-lg-4 col-md-4 col-6">
            				<strong>Call</strong><br>
							<a href="tel:9660034210" class="New1">+91 96600 34210</a>
						</div>
						<br><br><br>
						<div class="col-lg-4 col-md-4 col-6">
							<strong>Write</strong><br>
							<a href="Shobhits167@gmail.com" class="New1"><span id="myGmail">Shobhits167@gmail.com</span></a>
						</div>
            			<div class="col-lg-4 col-md-4 col-6">
            				<strong>Follow</strong>
                			<div class="">
                    			<a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/mcShobhit1601/" target="_blank"><i class="fa fa-facebook"></i></a>
	                   			<a class="btn btn-social-icon btn-github" href="https://github.com/shobhit1099" target="_blank"><i class="fa fa-github"></i></a>
			                    <a class="btn btn-social-icon btn-linkedin" href="http://linkedin.com/in/shobhit-srivastava-3b94731b8" target="_blank"><i class="fa fa-linkedin"></i></a>
			                    <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/shobhit_s.07/" target="_blank"><i class="fa fa-instagram"></i></a>
        	        		</div>
            			</div>
            			<br><br><br>
            			<div class="d-block d-sm-block d-md-none col-12 col-sm-6 Foot1 New1" style="margin-bottom: 20px;">
	            			&#169; 2021 by Shobhit Srivastava<br>My Portfolio
		  		      	</div>
	  		      	</div>
	        	</div>
	        </div>
    	</footer>

    	<script>
			function openNav() {
			  document.getElementById("myNav").style.height = "100%";
			}

			function closeNav() {
			  document.getElementById("myNav").style.height = "0%";
			}
		</script>

	</body>
</html>