<%- include("partials/header"); -%>
	    <link rel="stylesheet" href="/css/styles3.css">


	  	<title>My Portfolio</title>
	</head>

	<body>
		<header>
			<nav class="navbar fixed-top navbar-expand-custom navbar-fixed-top py-4">
		        <div class="container-fluid">
		        	<div class="col-11 col-custom-md-6">
		        		<div class="navbar-brand d-none d-sm-none d-md-flex" href="/about">
		        			<div id="Mark1" class="align-self-center"></div>
		        			<div id="MyName" class="align-self-center">&nbsp;Shobhit Srivastava</div>
		        			<div id="CompEngin" class="align-self-center">&nbsp;/&nbsp;COMPUTER ENGINEER</div>
		        		</div>
		        		<div class="navbar-brand d-block d-flex d-md-none row" href="/about">
		        			<div id="Mark1" class="align-self-center"></div>
		        			<div id="MyName" class="align-self-center">&nbsp;&nbsp;Shobhit Srivastava</div>
		        			<div id="CompEngin" class="align-self-center col-sm-12 CompEnginSm">COMPUTER ENGINEER</div>
		        		</div>
		        	</div>
		            <div id="Navbar" class="col-visible-custom">
		            	<ul class="navbar-nav ml-auto text-center">
		                    <li class="nav-item">
		                        <a class="nav-link" href="/about">ABOUT ME</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link" href="/resume">RESUME</a>
		                    </li>
		                    <li class="nav-item active">
		                        <a class="nav-link" href="/projects">PROJECTS</a>
		                    </li> 
		                    <li class="nav-item">
		                        <a class="nav-link" href="/contact">CONTACT</a>
		                    </li> 
		                </ul>
			        </div>
			        <div class="col-visible-custom-menu col-1 col-custom-md-6">
		                <span onclick="openNav()">   
						    <i class="fa fa-bars" style="color:black; font-size:28px;"></i>
						</span>
			            <div id="myNav" class="overlay">
	  						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				            <div class="overlay-content">
		                        <a href="/about">ABOUT ME</a>
		                        <a href="/resume">RESUME</a>
		                        <a href="/projects" class="active">PROJECTS</a>
		                        <a href="/contact">CONTACT</a>
				            </div>
				        </div>
		        	</div>
		        </div>
	   		</nav>
   		</header>

   		<div class="container">
	   		<div id="Projects">
	   			<div class="row justify-content-center">
		   			<div id="Mark2" class="align-self-center"></div>
		   			<div id="ProjectsName">Projects</div>
	   			</div>
	   		</div>
	   	</div>
   		
   		<div class="container">
	   		<div id="Para">
	   			<div class="row justify-content-center">
		   			<div id="ParaContent" class="text-center">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</div>
	   			</div>
	   		</div>
	   	</div>

   		<div class="container">
   			<div class="card">
	   			<div class="card-body row">
	   				<div id="card-left" class="col-md-7">
	   					<div class="row">
	   						<div id="Mark3" class=""></div>
	   						<div id="ProjectAndRole" class="">
		   						<div id="title">Ristorante Con Fusion</div>
		   						<div id="Role">A Restaurant Booking App</div>
		   					</div>
	   					</div>
	   					<br>
	   					<div id="paragraph">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.			
	   					<br><br>
	   					<a href="https://shobhit1099.github.io/Shobhit1099.github.io/Ristorante%20Con%20fusion/"  target="_blank">LINK</a>
	   					</div>
	   				</div>
	   				<div id="card-right" class="col-md-5">
	   					<img src="/images/Ristorante.png" alt="image">
	   				</div>
	   			</div>
	   		</div>
		</div>

		<div class="container">
   			<div class="card">
	   			<div class="card-body row">
	   				<div id="card-left" class="col-md-7">
	   					<div class="row">
	   						<div id="Mark3" class=""></div>
	   						<div id="ProjectAndRole" class="">
		   						<div id="title">Fylo</div>
		   						<div id="Role">Online Files Managing App</div>
		   					</div>
	   					</div>
	   					<br>
	   					<div id="paragraph">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
	   					<br><br>
	   					<a href="https://shobhit1099.github.io/Shobhit1099.github.io/Fylo/"  target="_blank">LINK</a>
	   					</div>
	   				</div>
	   				<div id="card-right" class="col-md-5">
	   					<img src="/images/Fylo.png" alt="image">
	   				</div>
	   			</div>
	   		</div>
		</div>

		<div class="container">
   			<div class="card CardLast">
	   			<div class="card-body row">
	   				<div id="card-left" class="col-md-7">
	   					<div class="row">
	   						<div id="Mark3" class=""></div>
	   						<div id="ProjectAndRole" class="">
		   						<div id="title">MCQ Test</div>
		   						<div id="Role">An Online MCQ Test App</div>
		   					</div>
	   					</div>
	   					<br>
	   					<div id="paragraph">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.
	   					<br><br>
	   					<a href="https://dry-ridge-36216.herokuapp.com/"  target="_blank">LINK</a>
	   					</div>
	   				</div>
	   				<div id="card-right" class="col-md-5">
	   					<img src="/images/MCQ.png" alt="image">
	   				</div>
	   			</div>
	   		</div>
		</div>
	     <%- include("partials/footer"); -%>
